@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application was made with the purpose of managing a list with your tracks, albums and the relevant information, additionally you can create playlists.</p>
