@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music manager</h1>
    <p class="lead">A music manager to organise your music</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Simply click on the links in the navigation bar and you'll be able to start adding tracks, authors... to your list.
        </p>
    </div>
</div>